@{
    ViewBag.Title = "Académie";
}

<div class="row home">
    <div class="col-lg-12">
        <p>Bienvenue sur le projet Académie</p>
        <p>Vous pouvez retrouver les sources de l'application <a href="https://github.com/Zahco/DotNetPoject" title="Source de l'aplication">ici</a></p>
        <p><a class="btn btn-primary" href="/Session/LogOn">Se connecter</a></p>
    </div>
</div>