body {
    padding-top: 50px;
    padding-bottom: 20px;
}

section {
    padding-top: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Remove underline style on add, update and delete icon. */
a.add-link, a.update-link, a.delete-link {
    text-decoration: none;
}

/* Add margin between icons and another icons or texts. */
a.delete-link, a.add-link + span {
    margin-left: 5px;
}

a.delete-link {
    margin-right: 5px;
}

thead tr td {
    border-bottom: 2px solid #dddddd;
}